* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.preloader {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    width: 70px;
    height: 70px;
    border-width: 5px;
    border-style: solid;
    border-top-color: red;
    border-left-color: red;
    border-bottom-color: transparent;
    border-right-color: transparent;

    border-radius: 50%;
    animation: animate 1s infinite linear;
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dark {
  background-color: #151b6a;
  color: #fff;
  min-height: 100vh;
}
main {
  .main {
    .country {
      -webkit-box-shadow: 0px 6px 64px 5px rgba(15, 16, 43, 1);
      -moz-box-shadow: 0px 6px 64px 5px rgba(15, 16, 43, 1);
      box-shadow: 0px 6px 64px 5px rgba(15, 16, 43, 1);
    }
  }
}

.light {
  background-color: #fff;
  color: #000;
  min-height: 100vh;

  main {
    .main {
      .country {
        -webkit-box-shadow: 0px 6px 64px 5px rgb(201, 201, 201);
        -moz-box-shadow: 0px 6px 64px 5px rgba(201, 201, 201, 1);
        box-shadow: 0px 6px 64px 5px rgba(201, 201, 201, 1);
      }
    }
  }
}
h1 {
  margin: 40px 0;
}
main {
  max-width: 1100px;
  margin: auto;
  text-align: center;

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .country {
      width: 350px;
      height: 350px;
      margin: 20px 5px;
      border-radius: 10px;

      .img {
        a {
          img {
            width: 100%;
            height: 250px;
          }
        }
      }
      .desc {
        height: 30px;
        width: 100%;
        line-height: 25px;
      }
    }
    .country:last-child {
      margin-bottom: 35px;
    }
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #151b6a;
  border-radius: 25px;
}
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #1d269e;
  color: rgba(175, 175, 175, 0.986);
  .copyright {
    padding: 5px 0;
    font-size: 15px;
  }
  div {
    font-size: 10px;
    padding: 5px 0;
  }
}
